.page {
  padding-top: 20px;

  &>* {
    margin-bottom: 20px;
  }

  // .page__promo
  &__promo {}

  // .page__products
  &__products {}

  // .page__bestsellers
  &__bestsellers {}

  // .page__ps
  &__ps {}
}


//====================================================================================================

.promo {

  // .promo__container

  &__container {}

  // .promo__slider-wrapper

  &__slider-wrapper {}

  // .promo__slider

  &__slider {
    aspect-ratio: 340/120;
    box-shadow: 0 0 20px 0 #006ac2, 0 0 10px 0 #006ac2;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-end;

  }

  // .promo__swiper
  &__swiper {
    position: absolute;
  }

  // .promo__slide
  &__slide {}

  // .promo__body
  &__body {
    position: relative;
    z-index: 2;
    padding: 8px;
    display: grid;
    gap: 20px;
  }

  // .promo__links
  &__links {
    display: flex;
    gap: 40px;
  }

  // .promo__btn

  &__btn {}

  // .promo__slider-nav

  &__slider-nav {
    display: flex;
    justify-content: center;
  }
}

.img-slide {
  width: 100%;
  height: 100%;
}

.slider-nav {
  border: 2px solid var(--light-color);
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-flex;
  align-items: center;
  gap: 15px;
  border-radius: 40px;
  padding: 7px 12px;

  @media (min-width:$mobileXS){
    font-size: 18px;
    padding: 10px 15px;
  }

  @media (min-width:$mobile){
    gap: 26px;
  }

  @media (min-width:$tablet){
    gap: 30px;
  }


  // .slider-nav__btn
  &__btn {
    background-color: transparent;

    &::before {
      font-size: 16px;
      
      @media (min-width:$mobileXS){
        font-size: 22px;
      }

      @media (min-width:$mobile){
        font-size: 26px; 
      }

      @media (min-width:$tablet){
        font-size: 30px; 
      }
    }

    // .slider-nav__btn_prev
    &_prev {}

    // .slider-nav__btn_next
    &_next {
      rotate: 180deg;
    }
  }
}

//====================================================================================================

.products {

  // .products__container
  &__container {}

  // .products__title
  &__title {
    margin-bottom: 20px;
  }

  // .products__body-wrapper
  &__body-wrapper {
    display: flex;
    justify-content: center;
  }

  // .products__body
  &__body {
    display: grid;
    justify-content: center;
    column-gap: 12px;
    row-gap: 22px;

    @media (min-width:$mobileS) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width:$mobile) {
      gap: 22px;
    }

    @media (min-width:$tablet) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 48px;
    }

    @media (min-width:$pc) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}



.product {
  box-shadow: 0 0 10px 0 #0d5dd6;
  border: 2px solid #0d5dd6;
  background: #fff;
  border-radius: 20px;
  padding: 20px 8px;

  width: 236px;
  position: relative;
  overflow: hidden;

  display: grid;
  grid-template-rows: 1fr auto;


  @media (min-width:$mobileS) {
    width: 270px;
  }

  &_hover {
    .product__active {
      opacity: 1;
      pointer-events: visible;
    }
  }
  
  
  // .product__content
  &__content {
    display: grid;
    gap: 12px;
  }

  // .product__body
  &__body {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 8px;
  }

  // .product__header
  &__header {
    color: #171717;
    min-height: 60px;
    line-height: 1;
  }

  // .product__price
  &__price {
    color: #171717;
    font-weight: 700;

    &::after {
      content: ' BYN';
    }
  }

  // .product__stock
  &__stock {

    span {
      color: var(--accent-color);
      font-weight: 600;
      display: inline-block;
      border-bottom: 2px solid var(--accent-color);
      &.not {
        color: #9e9cb3;
        border-bottom: 0;
      }
    }

  }


  // .product__img-block
  &__img-block {
    display: flex;
    justify-content: center;
  }

  // .product__img
  &__img {
    width: 113px;
    aspect-ratio: 113/146;

    @media (min-width:$mobileS) {
      width: 226px;
    }
  }


  // .product__active

  &__active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease 0s;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background: #050b25;
      opacity: 0.7;
    }
  }

  // .product__active-block
  &__active-block {
    padding: 22px;
    position: relative;
    z-index: 2;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }


  // .product__quantity

  &__quantity {}

  // .product__btn
  &__btn {
    font-weight: 600;
  }
}

//====================================================================================================

.bestsellers {

  // .bestsellers__container

  &__container {}

  // .bestsellers__inner
  &__inner {
    border: 2px solid #fff;
    border-radius: 40px;
    padding: 20px;
  }


  // .bestsellers__title
  &__title {
    margin-bottom: 20px;
  }

  // .bestsellers__slider-wrapper

  &__slider-wrapper {}

  // .bestsellers__slider
  &__slider {
    margin: -20px;
    padding: 20px;
  }

  // .bestsellers__swiper
  &__swiper {}

  // .bestsellers__slide

  &__slide {}

  // .bestsellers__slider-nav
  &__slider-nav {
    display: none;

    @media (min-width:$tablet) {
      display: flex;
      justify-content: center;
      padding-top: 36px;
    }
  }

  // .bestsellers__pagination
  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding-top: 20px;

    .swiper-pagination-bullet {
      border-radius: 100%;
      background-color: var(--light-color);
      box-shadow: 0 0 6px 0 #006ac2;
      flex: 0 0 20px;
      height: 20px;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--accent-color);
      box-shadow: 0 0 0 0;
    }

    @media (min-width:$tablet) {
      display: none;
    }
  }

}

.product {

  // .product_r
  &_r {
    .product__img-block {
      order: 0;
    }
  }
  // .product_bestsellers
  &_bestsellers {
    width: 372px;
    padding: 10px 8px;

    .product__content {
      grid-template-columns: 1fr 113px;
    }

    .product__body {
      gap: 4px;
    }
  }

  // .product__content
  &__content {
  }

  // .product__body
  &__body {}


  // .product__header

  &__header {}

  // .product__price

  &__price {}

  // .product__stock

  &__stock {}

  // .product__img-block

  &__img-block {}

  // .product__img

  &__img {}

  // .product__img-ibg

  &__img-ibg {}

  // .product__active

  &__active {}

  // .product__active-block

  &__active-block {}

  // .product__btn

  &__btn {}
}

.slider-nav {

  // .slider-nav__btn

  &__btn {

    // .slider-nav__btn_prev

    &_prev {}

    // .slider-nav__btn_next

    &_next {}
  }
}

//====================================================================================================

.ps {

  // .ps__container

  &__container {}

  // .ps__slider-wrapper
  &__slider-wrapper {
    margin-bottom: 20px;
  }

  // .ps__slider

  &__slider {
    aspect-ratio: 340/120;
    box-shadow: 0 0 20px 0 #006ac2, 0 0 10px 0 #006ac2;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }

  // .ps__swiper

  &__swiper {}

  // .ps__slide

  &__slide {}

  // .ps__logo
  &__logo {
    img {
      width: 100%;
      aspect-ratio: 34/9;
    }
  }
}


//====================================================================================================
//====================================================================================================
//====================================================================================================



//====================================================================================================



//====================================================================================================



//====================================================================================================



//====================================================================================================